
@model IEnumerable<AdpStore.Models.Product>

@{
    ViewData["Title"] = "商品";
}

<!--initiate accordion-->
<script type="text/javascript">
    $(function () {
        var menu_ul = $('.menu > li > ul'),
            menu_a = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function (e) {
            e.preventDefault();
            if (!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true, true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true, true).slideUp('normal');
            }
        });

    });
</script>
<!---->
<div class="product-middle">

    <div class="fit-top">
        <h6 class="shop-top">Lorem Ipsum</h6>
        <a href="single.html" class="shop-now">SHOP NOW</a>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="sellers">
    <div class="of-left-in">

    </div>


</div>
<div class="col-md-3">
    <!---->
    <div class="product-bottom">
        <div class="of-left-in">
            <h3 class="best">Best Sellers</h3>
        </div>
        <div class="product-go">
            <div class=" fashion-grid">
                <a href="single.html">
                    <img class="img-responsive " src="images/p1.jpg" alt="">
                </a>

            </div>
            <div class=" fashion-grid1">
                <h6 class="best2">
                    <a href="single.html">Lorem ipsum dolor sit amet consectetuer </a>
                </h6>

                <span class=" price-in1"> $40.00</span>
            </div>

            <div class="clearfix"> </div>
        </div>
        <div class="product-go">
            <div class=" fashion-grid">
                <a href="single.html">
                    <img class="img-responsive " src="images/p2.jpg" alt="">
                </a>

            </div>
            <div class="fashion-grid1">
                <h6 class="best2">
                    <a href="single.html">Lorem ipsum dolor sit amet consectetuer </a>
                </h6>

                <span class=" price-in1"> $40.00</span>
            </div>

            <div class="clearfix"> </div>
        </div>

    </div>
    <div class=" per1">
        <a href="single.html">
            <img class="img-responsive" src="images/pro.jpg" alt="">
            <div class="six1">
                <h4>DISCOUNT</h4>
                <p>Up to</p>
                <span>60%</span>
            </div>
        </a>
    </div>
</div>
<div class="col-md-9 product1">
    <div class=" bottom-product">
        @if (Model.Count() >= 0)
        {
            @foreach (var product in Model)
            {
                <div class="col-md-4 bottom-cd simpleCart_shelfItem">
                    <div class="product-at ">
                        <a href="~/product-detail/@product.ProductId">
                            <img class="img-responsive" src="~/images/p2.jpg" alt="">
                            <div class="pro-grid">
                                <span class="buy-in">Buy Now</span>
                            </div>
                        </a>
                    </div>
                    <p class="tun">@Html.DisplayFor(modelItem => product.Name)</p>
                    <a href="#" class="item_add">
                        <p class="number item_price">
                            <i> </i>@Html.DisplayFor(modelItem => product.Price)
                        </p>
                    </a>
                </div>
            }
        }
        else
        {
             <div>
                 无相关结果
             </div>
        }

        <div class="clearfix"> </div>
    </div>
</div>
<div class="clearfix"> </div>
<nav class="in">
    <ul class="pagination">
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li class="active">
            <a href="#">
                1
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li>
            <a href="#">
                2
                <span class="sr-only"></span>
            </a>
        </li>
        <li>
            <a href="#">
                3
                <span class="sr-only"></span>
            </a>
        </li>
        <li>
            <a href="#">
                4
                <span class="sr-only"></span>
            </a>
        </li>
        <li>
            <a href="#">
                5
                <span class="sr-only"></span>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</nav>
</div>
	</div>

