<!DOCTYPE html>
<html  style="height: 100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 爱搭配后台管理</title>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <environment include="Development,Production">
        <link href="~/css/adminStyle.css" rel="stylesheet" type="text/css" />
        <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/public.js"></script>
    </environment>
</head>
<body style="height: 100%">
    <div class="container-fluid" style="height:100%; display:flex;flex-direction: column;">
        <div class="header navbar-header">
            <div class="logo">
                <img src="~/images/admin_logo.png" title="在哪儿" />
            </div>
            <div class="fr top-link">
                <a href="/" title="访问站点"><i class="shopLinkIcon"></i><span>访问站点</span></a>
                <i class="adminIcon"></i><span>管理员：@User.Identity.Name</span>
                <a  asp-controller="Login" asp-action="Logout" style="background: rgb(60, 60, 60);"><i class="quitIcon"></i><span>安全退出</span></a>
            </div>
        </div>
        <div class="" style="flex: 1; display: flex; flex-direction: row">
            <div class="menu" style="width: 20%; height: 100%; background:#313131">
                <div class="menu-list">
                    <a href="main.html" target="mainCont" class="block menu-list-title center" style="border:none;margin-bottom:8px;color:#fff;">起始页</a>
                    <ul>
                        <li class="menu-list-title">
                            <span>商品管理</span>
                            <i>◢</i>
                        </li>
                        <li>
                            <ul class="menu-children">
                                <li><a href="~/admin/product" title="商品列表">商品列表</a></li>
                                <li><a href="~/admin/product/new" title="新增商品">新增商品</a></li>
                            </ul>
                        </li>

                        <li class="menu-list-title">
                            <span>会员管理</span>
                            <i>◢</i>
                        </li>
                        <li>
                            <ul class="menu-children">
                                <li><a href="~/admin/user" title="会员列表">会员列表</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="menu-footer">©  2018.Liu.Huan.</div>
            </div>
            <div class="content" style="flex: 1;height: 100%; width: 100%">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
