
@{
Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404 ERROR</title>
</head>
<body>
    <div style="text-align: center">
        <img style="max-width: 100%; margin: 15% auto 0; padding: 20px;" src="~/images/404.png">
        <h4 style="font-size: 40px; color: #333; margin-top: 75px;">啊呀，不小心飞出地球了！</h4>
        <p style="font-size: 14px; color: #777; margin-top: 25px;">此页面已无法找到，可能已经被删除或地址错误</p>
        <a class="btn" style="width: 180px; margin-top: 55px;" href="/">光速返回</a>
    </div>
</body>
</html>
