@model User

@{
    ViewData["Title"] = "Index";
}

<!--content-->
<div class=" container">
    <div class=" register">
        <h1>Register</h1>
        <form asp-controller="Register" asp-action="RigisterNewUser" method="post">
            <div class="col-md-6 register-top-grid">
                <h3>Login Info</h3>
                <div class="form-group has-feedback">
                    <span>Name</span>
                    <input type="text" asp-for="Name">
                </div>
                <div class="form-group has-feedback">
                    <span>Password</span>
                    <input type="password" asp-for="Password">
                </div>
                <div class="form-group has-feedback">
                    <span>Confirm Password</span>
                    <input type="password">
                </div>
                <a class="news-letter" href="#">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
                </a>
            </div>
            <div class="col-md-6 register-bottom-grid">
                <h3>Other Info</h3>
                <div class="form-group has-feedback">
                    <span>Address</span>
                    <input type="text" asp-for="Address">
                </div>
                <div class="form-group has-feedback">
                    <span>Email Address</span>
                    <input type="text" asp-for="EmailAddress">
                </div>
                <div class="form-group has-feedback">
                    <span>Tel</span>
                    <input type="text" asp-for="TelNumber">
                </div>
                <input type="submit" asp-controller="Register" asp-action="new" value="submit">

            </div>
            <div class="clearfix"> </div>
        </form>
    </div>
</div>

