
@{
    ViewData["Title"] = "首页";
}

<div class="banner">
    <div class="container">
        <script src="js/responsiveslides.min.js"></script>
        <script>
            $(function () {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
        <div id="top" class="callbacks_container">
            <ul class="rslides" id="slider">
                <li>
                    <div class="banner-text">
                        <h3>遇见更美的你 </h3>
                        <p>Welcome to 刘开心的网上商城,我想告诉每一个女孩子，其实你很美 .</p>
                        <a href="single.html">Learn More</a>
                    </div>
                </li>
                <li>

                    <div class="banner-text">
                        <h3>学会去尝试新风格 </h3>
                        <p> 越来越多的人习惯了一层不变，总是一种风格，嘿，你不厌烦吗？那就一起来Try .</p>
                        <a href="single.html">Learn More</a>

                    </div>
                </li>

                <li>
                    <div class="banner-text">
                        <h3>嘿 女孩自信点</h3>
                        <p> 不管在哪里，扬在你脸上的自信就是最好的装扮</p>
                        <a href="single.html">Learn More</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--content-->
<div class="content">
    <div class="container">
        <div class="content-top">
            <h1>不同场合</h1>
            <div class="grid-in">
                <div class="col-md-4 grid-top">
                    <a href="/product/situation/聚会" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="images/ch1.png" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>聚会&年会</span>
                            </h3>
                        </div>
                    </a>
                    <p>
                        <a href="products.html">enjoy</a>
                    </p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="/product/situation/面试" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="images/ch2.png" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>面试</span>
                            </h3>
                        </div>
                    </a>
                    <p>
                        <a href="products.html">fight</a>
                    </p>
                </div>
                <div class="col-md-4 grid-top">
                    <a href="/product/situation/户外娱乐" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="images/ch3.png" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-left    b-delay03 ">
                                <span>户外娱乐</span>
                            </h3>
                        </div>
                    </a>
                    <p>
                        <a href="products.html">happy</a>
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="grid-in">
                <div class="clearfix"> </div>
            </div>
        </div>

        <div class="content-top-bottom">
            <h2>不同风格</h2>
            <div class="col-md-6 men">
                <a href="/product/style/职业" class="b-link-stripe b-animate-go  thickbox">
                    <img class="img-responsive" src="images/fg1.png" alt="">
                    <div class="b-wrapper">
                        <h3 class="b-animate b-from-top top-in   b-delay03 ">
                            <span>职业风</span>
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="col-md1 ">
                    <a href="/product/style/休闲" class="b-link-stripe b-animate-go  thickbox">
                        <img class="img-responsive" src="images/fg2.png" alt="">
                        <div class="b-wrapper">
                            <h3 class="b-animate b-from-top top-in1   b-delay03 ">
                                <span>休闲风</span>
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="col-md2">
                    <div class="col-md-6 men1">
                        <a href="/product/style/运动" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/fg3.png" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>运动风</span>
                                </h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 men2">
                        <a href="/product/style/淑女" class="b-link-stripe b-animate-go  thickbox">
                            <img class="img-responsive" src="images/fg5.png" alt="">
                            <div class="b-wrapper">
                                <h3 class="b-animate b-from-top top-in2   b-delay03 ">
                                    <span>淑女风</span>
                                </h3>
                            </div>
                        </a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="content-bottom">
        <ul>
            <li>
                <a href="">
                    <img class="img-responsive" src="images/lo.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.adidas.com/us">
                    <img class="img-responsive" src="images/lo1.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://lee.com.cn">
                    <img class="img-responsive" src="images/lo2.png" alt="">
                </a>
            </li>
            <li>
                <a href="http://www.flexfit.com.cn">
                    <img class="img-responsive" src="images/lo3.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.nike.com">
                    <img class="img-responsive" src="images/lo4.png" alt="">
                </a>
            </li>
            <li>
                <a href="https://www.mygildan.com/store/cn/index.jsp?_locale=zh_CN&_requestid=198438">
                    <img class="img-responsive" src="images/lo5.png" alt="">
                </a>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
</div>
